body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
    flex-wrap: wrap;
}

.foto img {
    /*Error 3: Ajustar la imagen para que se vea mejor*/
    width: 150px;
    height: 175px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid white;
}

.info {
    flex-grow: 1;
}

h1 {
    margin: 0;
    font-size: 40px;
}

p {
    margin: 5px 0;
}
.info p {
    font-size: 18px;
}

main {
    padding: 20px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.columna {
    flex: 1;
    min-width: 300px;
}

.izquierda, .derecha {
    max-width: 100%;
}

/* Secciones */
section {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*Hacer que sea interactuable cuando pases por encima de algún div destaque o algo*/
section:hover {
    background-color: #716e6e;
}

h2 {
    color: #333;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}


section {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    padding-left: 20px;
}


/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .foto img {
        margin-right: 0;
        margin-bottom: 15px;
        width: 130px;
        height: 130px;
    }

    .info {
        text-align: center;
    }

    .contenedor {
        flex-direction: column;
    }

    .columna {
        min-width: 100%;
    }
}
